@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-Light.otf');
   font-weight:100;
   font-style: normal;
}

@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-LightItalic.otf');
   font-weight:100;
   font-style:italic;
}

@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-Regular.otf');
   font-weight:400;
   font-style: normal;
}

@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-RegularItalic.otf');
   font-weight:400;
   font-style:italic;
}

@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-Bold.otf');
   font-weight:800;
   font-style: normal;
}

@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-BoldItalic.otf');
   font-weight:800;
   font-style:italic;
}
html * {
    box-sizing:border-box;
  }
body { 
  margin:0; 
  padding:0; 
  font:17px/3ex xxQuicksandpro, Georgia, "Times New Roman", Times, serif;
  font-weight:400;
  color:rgba(255,255,255,.75);
  /*    letter-spacing:0.05em;*/
   -webkit-font-smoothing: none;
   -webkit-font-smoothing: antialiased; /* This makes the text crisp! */  background: black; 
}
#map { position:absolute; top:0; bottom:0; width:100%;height:100%;background-color: black; }

h3 {
margin:0 0 1ex 0;
font-weight:bold;

}

article {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  overflow:auto;
  }
.quiet {
  color:rgba(255,255,255,0.5);
  }

.sections {
  padding-top: 45vh;
  padding-bottom:100vh;
  /*background:rgba(0,0,0,0.75);*/
  width:360px;
  }
section {
  width: 360px;
  padding:20px 20px 10vh 20px;
  min-height: 25vh;
  text-shadow: 0px 0px 32px rgba(255,255,255,0.0);
  color:rgba(255,255,255,0);
  -webkit-transition:color 500ms;text-shadow:100ms;
          transition:color 500ms;text-shadow:100ms;
          transition:opacity 2000ms;

  background-color: rgba(0,0,0,0);
  opacity: 0.25;
  position: relative;
}
section p, section h2, section img {
  transition:opacity 500ms;  
}
section img {
  max-width: 100%;
  opacity: 0;
}

section p {
  opacity: 0;
}

section.active {
  color:rgba(255,255,255,1.0);
  text-shadow: 0px 0px 0px rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.75);
    transition:background-color 500ms;
  opacity: 1;
}

section.active h2,
section.active p,
section.active img {
  opacity: 1;
}
#cover{
 text-align: center;
 width: 100vw;
 height:25vh;
 padding:10vh 0 10vh 0;
}
#end.active{
 opacity: 0;
}
.leaflet-control-attribution.leaflet-control {
  display: none;
}